<h1>Number to Word Converter!</h1>

<form action="/numword">
  <div class="form-group">
    <label class="form-label" for="number">Please enter a number:</label>
    <input id="number" name="number" class="form-control" type="text" placeholder="1337" autofocus>
  </div>
  <button type="submit" class="butt">Go!</button>
</form>
